
body {
  background-image: url("https://i.pinimg.com/originals/a1/76/71/a176716205951f374b88a00d77d89a3e.jpg");
}

#board {
  left: 630px;
  top: 100px;
  width: 600px;
  height: 600px;
  border: 1px solid white;
  background-color: black;
  position: relative
}

#walker {  
  background-color: rgb(255, 255, 255);
  width: 70px;
  height: 70px;
  position: absolute;
  border-radius:50px; 

  
/*   left: 100px; */  /* Uncomment if you want to set a "starting" position */
/*   top: 100px;  */  /* Uncomment if you want to set a "starting" position */
}

#runner {  
  background-color: rgb(255, 0, 170);
  width: 70px;
  height: 70px;
  position: absolute;
  border-radius:50px; 
  left: 100px;
  top: 100px;
  
}
