
body {
  background-image: url("https://i.pinimg.com/originals/a1/76/71/a176716205951f374b88a00d77d89a3e.jpg");
}

#board {
  left: 630px;
  top: 100px;
  width: 600px;
  height: 600px;
  border: 1px solid white;
  background-color: black;
  position: relative
}

#walker {   /*TODO 1 -- 1b -- change #gameItem to #walker to met HTML change*/
  background-color: rgb(255, 255, 255);
  width: 70px;
  height: 70px;
  position: absolute;
  border-radius:50px; /* TODO 1 -- 1c -- create boreder - radius > matching witdht/height */

  
/*   left: 100px; */  /* Uncomment if you want to set a "starting" position */
/*   top: 100px;  */  /* Uncomment if you want to set a "starting" position */
}

#player2 {   /*TODO 1 -- 1b -- change #gameItem to #walker to met HTML change*/
  background-color: rgb(255, 0, 170);
  width: 70px;
  height: 70px;
  position: absolute;
  border-radius:50px; /* TODO 1 -- 1c -- create boreder - radius > matching witdht/height */

  
/*   left: 100px; */  /* Uncomment if you want to set a "starting" position */
/*   top: 100px;  */  /* Uncomment if you want to set a "starting" position */
}
