#fullContainer {
    background: url('https://coolbackgrounds.io/images/backgrounds/index/disco-dba865f1.png');
    width:100%;
    top: 100px;
   
}
#buttonContainer {
    margin:auto;
    width: 40%;
}
#goButton {
    margin: auto;
    width: 100%;
    border: 2px rgb(0, 0, 0) double;
    background: rgb(42, 160, 244);
    font-size: 30px;
}
#sortContainer {
    display: table;
    margin: 0 auto;
    width: 100%;
}
.subContainer {
    background-color: aliceblue;
    display: inline-block;
    width:45%;
    border: 4px rgb(0, 0, 0) groove;
    margin-top: 1.25%;
}
#bubbleArea {
    margin-left: 2.5%;
}
#quickArea {
    margin-left: 3.75%;
}
.subContainer > h2 {
    margin-left: 5%;
    height: 32px;
    margin-top: 0;
   
}
.sortElement {
    background-position: center;
    background-repeat: repeat-x;
    position: absolute;
    left: 0px;
    margin: 0;
    padding: 0;
}
.subContainer > div {

    position: relative;
}
.bubbleElement {
    background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR-f70PAZw5Kz5oIsANxH4NIilrA2cAKnPK-A&usqp=CAU');
    /*border: 2px aqua ridge;*/
}
.quickElement {
    background: url('https://p.kindpng.com/picc/s/360-3602002_icons-png-and-cute-image-jpeg-transparent-png.png');
    /*border: 2px firebrick ridge;*/
}